{% extends 'base.html.twig' %}

{% block title %}Colis index{% endblock %}

{% block body %}
    <h1>Colis index</h1>
    <input type="text" class="form-control" placeholder="Recherche" id="rech">
    <br>
    <script>
function filterTable() {
const filter = document.getElementById('rech').value.toUpperCase();
const rows = document.querySelectorAll('table tr');
for (let i = 1; i < rows.length; i++) {
    const cols = rows[i].querySelectorAll('td');
    let visible = false;
    for (let j = 0; j < cols.length; j++) {
        const cell = cols[j];
        if (cell.innerText.toUpperCase().indexOf(filter) > -1) {
            visible = true;
            break;
        }
    }
    rows[i].style.display = visible ? '' : 'none';
}
}
document.getElementById('rech').addEventListener('keyup', filterTable);
</script>
    <table class="table">
        <thead>
            <tr>
                <th>IdColis</th>
                <th>Categorie</th>
                <th>Poids</th>
                <th>IdUser</th>
                <th>AdressDepart</th>
                <th>AdressArrive</th>
                <th>NumDes</th>
                <th>Image</th>
                <th>image-UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coli in colis %}
            <tr>
                <td>{{ coli.idColis }}</td>
                <td>{{ coli.categorie }}</td>
                <td>{{ coli.poids }}</td>
                <td>{{ coli.idUser }}</td>
                <td>{{ coli.adressDepart }}</td>
                <td>{{ coli.adressArrive }}</td>
                <td>{{ coli.numDes }}</td>
                
                <td><img src="{{ asset('uploads/colis/'~ coli.image  ) }}" width="250" height="150"></td>

                <td>{{ coli.updatedAt ? coli.updatedAt|date ('Y-m-d'): '' }}</td>
                <td>
                    <a href="{{ path('app_colis_show', {'idColis': coli.idColis}) }}">show</a>
                    <a href="{{ path('app_colis_edit', {'idColis': coli.idColis}) }}">edit</a>
                    <a href="{{ path('app_colis_pdf', {'id': coli.idColis}) }}" class="btn btn-primary">Generate PDF</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(colis) }}
    </div>  
    <a href="{{ path('app_colis_new') }}">Create new</a>
{% endblock %}
