<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ma colis en PDF</title>
</head>
<body>

<h1>colis</h1>


<table>
    <thead>
      
        <tr> <th>Poids {{ colis.poids  }}</th></tr>
        <tr><th>category {{ colis.categorie  }}</th></tr>
        <tr><th>Adresse de départ {{ colis.AdressDepart  }}</th></tr>
        <tr><th>Adresse d'arrivée{{ colis.AdressArrive  }}</th></tr>
        <tr><th>Numéro de destination{{ colis.NumDes  }}</th></tr>
      

    
     
    
    </thead>
    <tbody>
       
  
    </tbody>
  </table>
 
  

</body>
</html>

<style>
    body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
    }
    .header {
        background-color: #008080;
        color: #fff;
        padding: 20px;
    }
    .content {
        padding: 20px;
    }
    .footer {
        background-color: #008080;
        color: #fff;
        padding: 10px;
        text-align: center;
        font-size: 12px;
    }
</style>