{% extends 'base.html.twig' %}

{% block title %}Colis{% endblock %}

{% block body %}
    <h1>Colis</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>IdColis</th>
                <td>{{ coli.idColis }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ coli.categorie }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ coli.poids }}</td>
            </tr>
            <tr>
                <th>IdUser</th>
                <td>{{ coli.idUser }}</td>
            </tr>
            <tr>
                <th>AdressDepart</th>
                <td>{{ coli.adressDepart }}</td>
            </tr>
            <tr>
                <th>AdressArrive</th>
                <td>{{ coli.adressArrive }}</td>
            </tr>
            <tr>
                <th>NumDes</th>
                <td>{{ coli.numDes }}</td>
            </tr><tr>
         <td><img src="{{ asset('uploads/colis/'~ coli.image  ) }}" width="250" height="150"></td>

        </tbody>
    </table>

    <a href="{{ path('app_colis_index') }}">back to list</a>

    <a href="{{ path('app_colis_edit', {'idColis': coli.idColis}) }}">edit</a>
    <a href="">pdf</a>
    <a href="{{ path('app_colis_pdf', {'id': coli.idColis}) }}" class="btn btn-primary">Generate PDF</a>

    {{ include('colis/_delete_form.html.twig') }}

    {% endblock %}
