{% extends 'base.html.twig' %}

{% block title %}Participation index{% endblock %}

{% block body %}
    <h1>Participation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdParticipation</th>
                <th>IdCovoiturage</th>
                <th>NomParticipant</th>
                <th>Mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participation in participations %}
            <tr>
                <td>{{ participation.idParticipation }}</td>
                <td>{{ participation.idCovoiturage }}</td>
                <td>{{ participation.nomParticipant }}</td>
                <td>{{ participation.mail }}</td>
                <td>
                    <a href="{{ path('app_participation_show', {'idParticipation': participation.idParticipation}) }}">show</a>
                    <a href="{{ path('app_participation_edit', {'idParticipation': participation.idParticipation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participation_new') }}">Create new</a>
{% endblock %}
