{% extends 'base.html.twig' %}

{% block title %}Participation{% endblock %}

{% block body %}
    <h1>Participation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdParticipation</th>
                <td>{{ participation.idParticipation }}</td>
            </tr>
            <tr>
                <th>IdCovoiturage</th>
                <td>{{ participation.idCovoiturage }}</td>
            </tr>
            <tr>
                <th>NomParticipant</th>
                <td>{{ participation.nomParticipant }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ participation.mail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_participation_index') }}">back to list</a>

    <a href="{{ path('app_participation_edit', {'idParticipation': participation.idParticipation}) }}">edit</a>

    {{ include('participation/_delete_form.html.twig') }}
{% endblock %}
