<div class="my-4 ">
    {{ form_start(form, {'id': 'covoiturage-form'}) }}
    <div class="row">
      <div class="form-group">
        {{ form_label(form.adresse_depart, 'Adresse de départ') }}
        {{ form_widget(form.adresse_depart, {'attr': {'class': 'form-control form-control-sm'}}) }}
        {{ form_errors(form.adresse_depart) }}
      </div> 
      <div class="form-group">
        {{ form_label(form.adresse_arrive, 'Adresse arrivé') }}
        {{ form_widget(form.adresse_arrive, {'attr': {'class': 'form-control form-control-sm'}}) }}
        {{ form_errors(form.adresse_arrive) }}
      </div>
      <div class="form-group">
        {{ form_label(form.heure_depart, 'Heure de départ') }}
        {{ form_widget(form.heure_depart, {'attr': {'class': 'form-control form-control-sm'}}) }}
        {{ form_errors(form.heure_depart) }}
      </div>
      <div class="form-group">
        {{ form_label(form.date_depart, 'Date de  départ') }}
        {{ form_widget(form.date_depart, {'attr': {'class': 'form-control form-control-sm'}}) }}
        {{ form_errors(form.date_depart) }}
      </div> 
    </div> 

      <div class="form-group">
        {{ form_label(form.nb_place, 'nombre de place  disponible') }}
        {{ form_widget(form.nb_place, {'attr': {'class': 'form-control form-control-sm'}}) }}
        {{ form_errors(form.nb_place) }}
      </div> 
      <div class="form-group">
        {{ form_label(form.prix, ' Prix') }}
        {{ form_widget(form.prix, {'attr': {'class': 'form-control form-control-sm'}}) }}
        {{ form_errors(form.prix) }}
      </div> 
      <div class="form-group">
        {{ form_label(form.description, 'Description ') }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control form-control-sm'}}) }}
        {{ form_errors(form.description) }}
      </div> 
      <div class="form-group">
        {{ form_label(form.nom_conducteur, 'Nom du conducteur ') }}
        {{ form_widget(form.nom_conducteur, {'attr': {'class': 'form-control form-control-sm'}}) }}
        {{ form_errors(form.nom_conducteur) }}
      </div> 
      <button class="btn btn-primary btn-sm" formnovalidate>{{ button_label|default('Save') }}</button>
      <a class="btn btn-primary btn-sm" href="{{ path('app_covoiturage_index') }}" class="text-right">back to list</a>
    {{ form_end(form) }}
 
  </div>
</div>
<style>
  .form-control-sm {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }

  .btn-sm {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }

  .my-4 {
    margin-top: 7rem; /* set the top margin to 5rem */
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto; /* center horizontally */
    display: block; /* make it a block-level element */   
  }

  .form-control-sm {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }

  .btn-sm {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }

  .my-4 {
    margin-top: 7rem; /* set the top margin to 5rem */
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto; /* center horizontally */
    display: block; /* make it a block-level element */
  }
  
  .form-group label {
    color: violet;
  }

  .form-group label[for="nom_conducteur"] {
    color: pink;
  }
  .btn-primary {
    background-color: pink;
    border-color: pink;
  }

  
</style>