{% extends 'base.html.twig' %}

{% block title %}Covoiturage index{% endblock %}

{% block body %}
    <h1>Covoiturage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCovoiturage</th>
                <th>AdresseDepart</th>
                <th>AdresseArrive</th>
                <th>DateDepart</th>
                <th>HeureDepart</th>
                <th>NbPlace</th>
                <th>Prix</th>
                <th>Description</th>
                <th>NomConducteur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for covoiturage in covoiturages %}
            <tr>
                <td>{{ covoiturage.idCovoiturage }}</td>
                <td>{{ covoiturage.adresseDepart }}</td>
                <td>{{ covoiturage.adresseArrive }}</td>
                <td>{{ covoiturage.dateDepart ? covoiturage.dateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ covoiturage.heureDepart }}</td>
                <td>{{ covoiturage.nbPlace }}</td>
                <td>{{ covoiturage.prix }}</td>
                <td>{{ covoiturage.description }}</td>
                <td>{{ covoiturage.nomConducteur }}</td>
                <td>
                    <a href="{{ path('app_covoiturage_show', {'idCovoiturage': covoiturage.idCovoiturage}) }}">show</a>
                    <a href="{{ path('app_covoiturage_edit', {'idCovoiturage': covoiturage.idCovoiturage}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_covoiturage_new') }}">Create new</a>
{% endblock %}
