{% extends 'base.html.twig' %}


{% block title %}Covoiturage index{% endblock %}

{% block body %}
    <h1>Covoiturage Admin</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Adresse_depart</th>
                <th>Adresse_arrive</th>
                <th>Date_depart</th>
                <th>Heure_depart</th>
                <th>Nb_place</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Nom_conducteur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for covoiturage in covoiturages %}
            <tr>
                <td>{{ covoiturage.adresseDepart }}</td>
                <td>{{ covoiturage.adresseArrive }}</td>
                <td>{{ covoiturage.dateDepart ? covoiturage.dateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ covoiturage.heureDepart }}</td>
                <td>{{ covoiturage.nbPlace }}</td>
                <td>{{ covoiturage.prix }}</td>
                <td>{{ covoiturage.description }}</td>
                <td>{{ covoiturage.nomConducteur }}</td>
                <td>
                    {{ include('covoiturage/_delete_form_back.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
