<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ma commande en PDF</title>
</head>
<body>

<h1>covoiturage</h1>

    <h2>l'identifiant  : {{ covoiturage.id  }}</h2>
<h2>l'adressse de depart : {{ covoiturage.adresseDepart }}</h2>
<h2>l'adresse d'arrive : {{ covoiturage.adresseArrive }}</h2>
<h2>heure de depart{{ covoiturage.heureDepart  }}</h2>
<h2>le nombre de place  : {{ covoiturage.nbPlace  }}</h2>
<h2>le prix  : {{ covoiturage.prix  }}</h2>
<h2>description  : {{ covoiturage.description  }}</h2>
<h2>le nom du conducteur  : {{ covoiturage.nomConducteur  }}</h2>

</body>
</html>

<style>
    body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
    }
    .header {
        background-color: #008080;
        color: #fff;
        padding: 20px;
    }
    .content {
        padding: 20px;
    }
    .footer {
        background-color: #008080;
        color: #fff;
        padding: 10px;
        text-align: center;
        font-size: 12px;
    }
</style>