{% extends 'base.html.twig' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
{% endblock %}
{% block body %}
<h1>Covoiturage Détails</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>Adresse_depart</th>
                <td>{{ covoiturage.adresseDepart }}</td>
            </tr>
            <tr>
                <th>Adresse_arrive</th>
                <td>{{ covoiturage.adresseArrive }}</td>
            </tr>
            <tr>
                <th>Date_depart</th>
                <td>{{ covoiturage.dateDepart ? covoiturage.dateDepart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Heure_depart</th>
                <td>{{ covoiturage.heureDepart }}</td>
            </tr>
            <tr>
                <th>Nb_place</th>
                <td>{{ covoiturage.nbPlace }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ covoiturage.prix }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ covoiturage.description }}</td>
            </tr>
            <tr>
                <th>Nom_conducteur</th>
                <td>{{ covoiturage.nomConducteur }}</td>
            </tr>
        </tbody>
    </table>

    <div style="display: flex; gap: 1rem;">
        <a href="{{ path('app_covoiturage_index') }}"><i class="fas fa-list"></i></a>
        <a href="{{ path('app_covoiturage_edit', {'id': covoiturage.id}) }}"><i class="fas fa-edit"></i></a>
        <td><a href="{{ path('app_covoiturage_pdf', {'id':  covoiturage.id}) }}" class="btn btn-primary"> PDF </a></td>
      </div>
   
    
    
{% endblock %}
